{% extends "root.html" %}
{%  block header %}
  <link rel="stylesheet" type="text/css" href="style/main.css">
  <link rel="stylesheet" type="text/css" href="style/analysis.css">
  <script src="/js/external/jquery.js"></script>
  <script src="/js/external/jquery-ui.js"></script>
  <script src="/js/helpers.js"></script>
  <script src="/js/fixtures.js"></script>
  <script src="/js/analysis.js"></script>
  <script src="/js/calibration.js"></script>
  <script>
      current_fixture_id = "#current-fixture";
  </script>
{% endblock %}
{% block page %}
  <div id="cont">
      <h1>Analysis</h1>
      <div class="section-frame">
          <form>

              <h3>Input</h3>
              <div class="section">
                  <label for="compilation">Compilation File</label>
                  <input name="compilation" id="compilation" class="long"
                      onchange="set_file_path(this, '', /\.project\.(compilation(\.original)?|settings)$/, true);"
                      onfocus="set_file_path(this, '', /\.project\.(compilation(\.original)?|settings)$/, true);"
                      onkeyup="set_file_path(this, '', /\.project\.(compilation(\.original)?|settings)$/, true);"/>
                  <div class="indented"><em>
                      Either the original or a new re-compilation file
                  </em></div>

                  <label for="compile-instructions">Compile Instructions File <em>(optional)</em></label>
                  <input name="compile-instructions" id="compile-instructions" class="long"
                      onchange="set_file_path(this, 'project.compilation.instructions', null, false);"
                      onfocus="set_file_path(this, 'project.compilation.instructions', null, false);"
                      onkeyup="set_file_path(this, 'project.compilation.instructions', null, false);"/>
                  <div class="indented"><em>
                      This is optional, but if included should point to a
                      <code>.project.compilation.instructions</code>, else it
                      is inferred from the compilation file path and name
                      above.
                  </em></div>
              </div>

              <h3>Calibration</h3>
              <div class='section'>
                  <label for="ccc-selection">Calibration to use<em>(optional)</em></label>
                  <select name="ccc-selection" id="ccc-selection"></select>
                  <div class="indented"><em>
                      Will use default as published in Zackrisson et. al. 2016 if not set.
                  </em></div>
              </div>

              <h3>Output</h3>
              <div class="section">
                  <label for="analysis-directory">
                      Analysis output directory <em>(optional)</em>
                  </label>
                  <input name="analysis-directory" id="analysis-directory" class="long"/>
                  <div class="indented"><em>
                      Local directory in folder containing compilation file
                      to put analysis, defaults to <code>analysis</code>
                  </em></div>
              </div>

              <h3>Gridding (don't combine with regridding)</h3>
              <div class="section">
                  <div class="onoffswitch one_time_positioning">
                      <input type="checkbox" name="one_time_positioning" class="onoffswitch-checkbox one_time_positioning" id="one_time_positioning"/>
                      <label class="onoffswitch-label one_time_positioning" for="one_time_positioning">
                          <span class="onoffswitch-inner one_time_positioning"></span>
                          <span class="onoffswitch-switch one_time_positioning"></span>
                      </label>
                  </div>
              </div>

              <h3>Manual regridding of previously analysed project</h3>
              <div class="section" id="manual-regridding-div">

                  <label for="manual-regridding-source-folder">Previous gridding folder (local)</label>
                  <input id="manual-regridding-source-folder"
                         title="This only has affect if manual gridding is activated."
                         value="analysis"
                         onchange="set_regridding_source_directory(this);"
                         onfocus="set_regridding_source_directory(this);"
                         onkeyup="set_regridding_source_directory(this);" disabled/>

                  <br>

                  <input type="checkbox" id="manual-regridding"
                         title="This can only be activated if a proper analysis folder has been selected above."
                         onclick="toggleManualRegridding(this)" disabled/>
                  <label for="manual-regridding">Activate manual regridding</label>

                  <div id="manual-regridding-settings">
                      <label for="local-fixture">Fixture</label>

                      <div class="onoffswitch">
                          <input type="checkbox" name="local-fixture" class="onoffswitch-checkbox" id="local-fixture"
                                  onclick="analysisToggleLocalFixture(this)"/>
                          <label class="onoffswitch-label" for="local-fixture">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                          </label>
                      </div>
                      <label for="current-fixture"></label>
                      <select name="current-fixtures" id="current-fixture" onchange="set_fixture_plate_listing()"></select>
                      <br>
                      <div class="error-message" id="fixture-error-message">No fixture selected ^^</div>
                      <br>
                      <div id="manual-regridding-image"></div>
                      <div id="manual-regridding-plates"></div>
                      <div class="indented"><em>
                          Positive offsetting implies moving away from the
                          grid origin (circled position) while negative moves
                          grid towards the origin.  First offset moves along
                          the long axis.  Second offset moves along the short
                          axis.  REGRIDDING WITHOUT USING IDENTICAL FIXTURE
                          SETTINGS AS ORIGINAL MAKES NO SENSE.
                      </em></div>

                  </div>
              </div>

              <h3>Chaining</h3>
              <div class="section">
                  <div class="onoffswitch chain">
                      <input type="checkbox" name="chain" class="onoffswitch-checkbox chain" id="chain-analysis-request"/>
                      <label class="onoffswitch-label chain" for="chain-analysis-request">
                          <span class="onoffswitch-inner chain"></span>
                          <span class="onoffswitch-switch chain"></span>
                      </label>
                  </div>
              </div>
              <button type="button" id="submit-button"
                      onclick="Analyse(this);">
                  Run Analysis
              </button>

          </form>
      </div>
  </div>
  <script>
      get_fixtures();
      toggleManualRegridding($("#manual-regridding"));
      createSelector($('#ccc-selection'));
  </script>
{% endblock %}
