{% extends "root.html" %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="style/main.css">
{% endblock %}
{% block page %}
  <div id='cont'>
    <div class='section'>
      <h1><a id="installing">Something confusing or wrong?</a></h1>
      <p>
          First things first, many aspects and much troubleshooting is
          detailed on the community wiki. So hopefully you can find your
          answers there or even add your own tips and tricks!
      </p>

      <h2>Found a bug or something that needs our attention?</h2>
      <p>
          We use GitHub's issue tracker to report bugs and discuss future
          extensions of the program.
          You find it <a href="https://github.com/local-minimum/scanomatic/issues" target="_blank">here</a>.
          Please first have a check if someone has already reported the same
          issue and add to that issue instead of opening a duplicate issue.
          If you are proficient in python, javascript or relevant technology
          to contribute to the solution we are of course very happy to
          include your patches.
      </p>
    </div>
  </div>
{% endblock %}
