<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Scan-o-Matic</title>
        <link rel="icon" type="image/ico" href="images/favicon.ico">
        {% block header %}
        {% endblock %}
    </head>
    <body>
        <div id="holder">
            <div id="header">
                <img id='logo' src='images/scan-o-matic_2.png'>
                {% if debug %}
                <div class="urgent">You are running in debug mode.
                    This exposes you to execution of arbitrary remote code.
                    Make absolutely sure you are behind a firewall and never use this
                    option in deployment.</div>
                {% endif %}
                <nav>
                    <a class="nav-nodropdown" href="/experiment">Experiments</a>
                    |
                    <a class="nav-nodropdown" href="/status">Status</a>
                    |
                    <div class="nav-dropdown">
                        <span class="linky"><img src="/images/menu.png" class="nav-icon">Settings</span>
                        <div class="nav-dropdown-content">
                            <a class="nav-dropdown-item" href="/fixtures">Fixtures</a>
                            <a class="nav-dropdown-item" href="/ccc" title="Cell Count Calibration">CCC</a>
                        </div>
                    </div>
                    |
                    <div class="nav-dropdown">
                        <span class="linky"><img src="/images/menu.png" class="nav-icon">Help</span>
                        <div class="nav-dropdown-content">
                            <a class="nav-dropdown-item" href="/wiki">Wiki</a>
                            <a class="nav-dropdown-item" href="/help">Bug or Suggestion</a>
                        </div>
                    </div>

                    <span id="version-info">{{ version }}</span>
                </nav>
            </div>
            <div id="page" name="page">
              {% block page %}
              {% endblock %}
            </div>
        </div>
    </body>
</html>
