*.pyc
*.pyo
*.tmp_config
*.aux
.*.swp
.~*
/.tox
/coverage.xml
/result.xml
.coverage
../*
_*.lock
.git/*
.ropeproject
.cache
/experiments
/build
dev/*
/config/
log
versions/*
gs_test*.png
.exclude.list
bundle_version.sh
ver_upgrade.py
GIT_HELP
scripts/scan-o-matic_job
/.idea
nohup.out
data/config/rpc.admin
/htmlcov
/Scan_o_Matic.egg-info
/docker-compose.override.yml
/scanomatic/ui_server_data/js/ccc.js
/scanomatic/ui_server_data/js/scanning.js
/scanomatic/ui_server_data/js/projects.js
/scanomatic/ui_server_data/js/statuspage.js
/scanomatic/ui_server_data/coverage
geckodriver.log
/node_modules
/data/config/mac_address.config
.pytest_cache/
