*.pyc
*.pyo
*.tmp_config
*.aux
.*.swp
/.tox
/coverage.xml
/result.xml
.coverage
../*
_*.lock
.git/*
.ropeproject
.cache
/experiments
/build
dev/*
/config/
log
versions/*
gs_test*.png
.exclude.list
bundle_version.sh
ver_upgrade.py
GIT_HELP
scripts/scan-o-matic_job
/.idea
nohup.out
