language: python
python:
    - "2.7"

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce
      - python-numpy
      - python-scipy
      - python-matplotlib
  chrome: stable
  firefox: latest

before_install:
    - pip install tox coveralls
    - gem install coveralls-lcov
    - wget -N http://chromedriver.storage.googleapis.com/2.30/chromedriver_linux64.zip -P ~/
    - unzip ~/chromedriver_linux64.zip -d ~/
    - rm ~/chromedriver_linux64.zip
    - sudo mv -f ~/chromedriver /usr/local/share/
    - sudo chmod +x /usr/local/share/chromedriver
    - sudo ln -s /usr/local/share/chromedriver /usr/local/bin/chromedriver
    - wget -O- 'https://github.com/mozilla/geckodriver/releases/download/v0.19.0/geckodriver-v0.19.0-linux64.tar.gz' | sudo tar -C /usr/local/bin -xz
    - npm install
before_script:
    - export DISPLAY=':99.0'
    - sh -e /etc/init.d/xvfb start
    - sleep 3
script:
    - npm test
    - tox
    - docker-compose build

after_success:
    - coveralls-lcov -v -n scanomatic/ui_server_data/coverage/report-lcov/lcov.info > js-coverage.json
    - coveralls --merge=js-coverage.json
    - if [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ] ; then docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"; docker-compose push; fi
