chardet
enum34
flask
flask-restful
flask_cors
future
matplotlib
numpy
odfpy
pandas
pillow
prometheus-client
psutil
psycopg2-binary
pytz
requests
scikit-image
scipy
setproctitle
sh
sqlalchemy
uuid
xlrd
