<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style/main.css?ver=_-_VERSIONTAG_-_">
        <script src="/js/external/jquery.js"></script>
        <script src="/js/helpers.js?ver=_-_VERSIONTAG_-_"></script>
        <title>Scan-o-Matic</title>
        <link rel="icon" type="image/ico" href="images/favicon.ico">
    </head>
    <body>
        <div id="holder">
            <div id="header">
                <img id='logo' src='images/scan-o-matic_2.png'>
                {% if debug %}
                <div class="urgent">You are running in debug mode.
                    This exposes you to execution of arbitrary remote code.
                    Make absolutely sure you are behind a firewall and never use this
                    option in deployment.</div>
                {% endif %}
                <nav>
                    <div class="nav-dropdown">
                        <span class="linky"><img src="/images/menu.png" class="nav-icon">Experiment</span>
                        <div class="nav-dropdown-content">
                            <div class="nav-dropdown-item"><a href="/experiment?ver=_-_VERSIONTAG_-_" target="page">Experiment / Scan</a></div>
                            <div class="nav-dropdown-item"><a href="/compile?ver=_-_VERSIONTAG_-_" target="page">Compile Project</a></div>
                            <div class="nav-dropdown-item"><a href="/analysis?ver=_-_VERSIONTAG_-_" target="page">Analysis</a></div>
                            <div class="nav-dropdown-item"><a href="/feature_extract?ver=_-_VERSIONTAG_-_" target="page">Feature Extraction</a></div>
                        </div>
                    </div>
                    |
                    <a href="/qc_norm?ver=_-_VERSIONTAG_-_" target="page">QC & Norm</a>
                    |
                    <a href="/status?ver=_-_VERSIONTAG_-_" target="page">Status</a>
                    |
                    <div class="nav-dropdown">
                        <span class="linky"><img src="/images/menu.png" class="nav-icon">Settings</span>
                        <div class="nav-dropdown-content">
                            <div class="nav-dropdown-item"><a href="/fixtures?ver=_-_VERSIONTAG_-_" target="page">Fixtures</a></div>
                            <div class="nav-dropdown-item"><a href="/ccc?ver=_-_VERSIONTAG_-_" target="page" title="Cell Count Calibration">CCC</a></div>
                            <br>
                            <div class="nav-dropdown-item"><a href="/settings?ver=_-_VERSIONTAG_-_" target="page">Settings</a></div>
                            <div class="nav-dropdown-item"><a href="/maintain?ver=_-_VERSIONTAG_-_" target="page">Maintenance</a></div>
                        </div>
                    </div>
                    |
                    <div class="nav-dropdown">
                        <span class="linky"><img src="/images/menu.png" class="nav-icon">Help</span>
                        <div class="nav-dropdown-content">
                            <div class="nav-dropdown-item"><a href="/wiki?ver=_-_VERSIONTAG_-_" target="_blank">Wiki</a></div>
                            <div class="nav-dropdown-item"><a href="/help?ver=_-_VERSIONTAG_-_" target="page">Bug or Suggestion</a></div>
                        </div>
                    </div>

                    <span id="version-info">ver=_-_VERSIONTAG_-_</span>
                </nav>
            </div>
            <iframe id="page" name="page" src="/home"></iframe>
        </div>
        <script>
            $("#logo").bind("load", function () { $(this).hide().fadeIn(4000); });
            setVersionInformation("#version-info", "");
        </script>
    </body>
</html>
