/* colors
#541f0f
#f8e03e
#cd8b34
#a45e60
#e7d2b7

*/

div.panel {
  color: #111;
}

div.panel button {
  margin: 0.25em;
}

button.new-job {
  display: inline-block;
  margin-bottom: 0.5em;
}

.job-listing {
  min-height: 7.5em;
}

.job-description {
  display: inline-block;
  vertical-align: middle;
}
