.new-project {
  margin-bottom: 0.5rem;
}

.panel-body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.vertical-textarea {
  resize: vertical;
}

.new-experiment-panel {
  margin-top: 2rem;
}
