.job {
    margin-bottom: 12px;
    box-shadow: 5px 5px 15px #541f0f;
    padding: 6px;
    position: relative;
    margin-right: 45px;
}

.queue {
    margin-bottom: 12px;
    box-shadow: 5px 5px 15px #541f0f;
    padding: 6px;
    position: relative;
    margin-right: 45px;

}

.stop-button {
    background: url("/images/stop.png") no-repeat center center;
    background-size: contain;
    height: 2em;
    width: 30px;
    position: absolute;
    top: 2px;
    right: -39px;
    cursor: pointer;
}

.log-link {
    float: right
}

.log-link a {
    padding-bottom: 2px;
    padding-top: 1px;
}

img {
    vertical-align: middle;
    float: none;
}

.timeline-group {
  margin: 0.25rem;
  color: #111;
  background: #fff;
  padding: 1rem;
}

.react-calendar-timeline .scanner-job {
  color: #eee;
  border: #111;
}

.react-calendar-timeline .scanner-job-running {
  background: #2b3;
}

.react-calendar-timeline .scanner-job-ended {
  background: #888;
}

.react-calendar-timeline .scanner-job-stopped {
  background: #774;
}

.react-calendar-timeline .rct-header-container .rct-sidebar-header {
  background: #fff;
  color: #111;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  font-size: 70%;
}

.react-calendar-timeline .rct-header-container .rct-header .top-header .rct-label-group {
  background: #fff;
  color: #111;
}

.scanner-online {
  background: #2b3;
  color: #eee;
  padding: 0.3rem 1rem .1rem 0.75rem;
  border-radius: 4px;
  font-size: 90%;
  font-weight: bold;
}

.scanner-offline {
  background: #b23;
  color: #eee;
  padding: 0.3rem 1rem .1rem 0.75rem;
  border-radius: 4px;
  font-size: 90%;
  font-weight: bold;
}

.legend {
  margin-top: 1rem;
}

.legend-job-running {
  font-size: 80%;
  color: #eee;
  background: #2b3;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  display: inline-block;
}

.legend-job-ended {
  font-size: 80%;
  color: #eee;
  background: #888;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  display: inline-block;
}

.legend-job-stopped {
  font-size: 80%;
  color: #eee;
  background: #774;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  display: inline-block;
}
