/* colors
#541f0f
#f8e03e
#cd8b34
#a45e60
#e7d2b7

*/


.long {
    width: 80%;
}

.medium-long {
    width: 200px;
}

.short {
    width: 50px;
}

.validation-icon {
    max-height: 30px;
    display: inline-block;
    vertical-align: middle;
}

tr {
    margin-bottom: 6px;
}

.eventable td {
 width: 16%;
}

.head-col {
    vertical-align: top;
}

.block {
    display: inline-block;
    vertical-align: center;
}

.ui-helper-hidden-accessible {
    display: none;
    hidden: hidden;
}

option {
    padding: 3px;
    margin-right: 3px;
}

#cont {
    font-family: sans;

}

#cont h1 {
}

#cont em {
}

label {
	text-transform: uppercase;
	letter-spacing: 100%;
	font-size: 105%;
	margin-right: 20px;
}

textarea {
    width: 80%;
    min-height: 75px;
}

.section {
    margin-bottom: 6px;
}

#pinnings div {
    display: inline-block;
    padding: 6px;
}

.plate-description {
    margin-bottom: 3px;
}