* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

input {
    padding: 3px;
}

body {
	background: #cd8b34;
	background-image: url('/images/help_bg.png');
}

#holder {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#page {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: calc(100% - 190px);
}

p {
	padding: 12px;
	margin-below: 6px;
	text-align: justify;
	line-height: 150%;
}

a {
	background: #f8e03e;
	color: #541f0f;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
    margin-right: 6px;
    text-decoration: none;
	transition: box-shadow 1s ease;
}

.linkOut:hover {
	text-decoration: underline;
	box-shadow: 0px 0px 20px #e7d2b7;
}

blockquote {
    margin-left: 40px;
    margin-right: 40px;
}

code {
	background: #a45e60;
	color: #e7d2b7;
	padding: 3px;
}

li {
	margin-bottom: 6px;
}

nav {
    padding: 12px;
	background: #e7d2b7;
	color: #cd8b34;
}

nav span {
	background: #cd8b34;
	color: #541f0f;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
    margin-right: 6px;

}

ul {
	padding:12px;
	background: #e7d2b7;
	color: #cd8b34;
	list-style: none;
}

#cont {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
	margin-left: 40px;
	max-width: 900px;
	min-width: 300px;
	background: #541f0f;
	color: #e7d2b7;
	padding: 6px;
	padding-bottom: 64px;
	box-shadow: 5px 5px 15px #541f0f;
}

#cont h2 {
	text-transform: uppercase;
	letter-spacing: 100%;
	font-size: 105%;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 12px;
}

#cont h3 {
    font-family: sans;
    margin-top: 10px;
}

.section {
    margin-bottom: 0.5em;
}

.section h1 {
	text-transform: uppercase;
	letter-spacing: 20px;
	line-height: 250%;
	font-size: 115%;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 6px;
}

.section h1 a {
	padding-top: 12px;
	padding-bottom: 6px;
}

.section h2 {
	text-transform: uppercase;
	letter-spacing: 100%;
	font-size: 105%;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 12px;
}

.section h3 {
	text-decoration: underline;
	font-size: 90%;
	margin-top:12px;
	margin-bottom: 6px;
}

.section-frame {
    background: #802F17;
    border: 1px solid #541f0f;
    padding: 6px;
    margin-bottom: 20px;
}

#toc {
	position: fixed;
	right: 10px;
	background: #f8e03e;
	color: #541f0f;
	bottom: 20px;
	min-width: 180px;
	max-width: 200px;
	min-height: 200px;
	font-size: 70%;
	box-shadow: 5px 5px 15px #541f0f;
	padding-bottom: 32px;
}

#toc h1 {
	text-transform: uppercase;
	letter-spacing: 150%;
	font-size: 200%;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 12px;
}

#toc a {
    text-decoration: none;
	color: #f8e03e;
	background: #cd8b34;
	padding: 6px;
}

#toc a:hover {
	box-shadow: 0px 0px 20px #541f0f;
}

#toc h2 {
    margin-top: 6px;
    margin-bottom: 18px;
}

.ui-dialog-content {
    background-color: #ddd;
}

.ui-dialog button {
    padding: 3px;
    spacing: 3px;
}

.ui-dialog-titlebar, .ui-dialog-buttonpane {
    background-color: #aaa;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: inline-block;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E7D2B7; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #F8E03E; color: #541F0F;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #541F0F; color: #F8E03E;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #CD8B34;
    border: 2px solid #E7D2B7; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.indented {
    margin-left: 50px;
}